* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
:root {
    --main-color: #FADC52;
    --second-color: #e9d88a;
    --icon-color: #201f1f;
    --text-color: #777;
    --main-color-alt: #1787e0;
    --main-pragh-color: #777;
    --main-transition: 0.3s;
    --main-padding-top: 100px;
    --main-padding-bottom: 100px;
    --main-line-height: 1.7;
    --section-background: #ececec;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: "Cairo", sans-serif;
    background-color: var(--section-background);
}
a{
    text-decoration: none;
    color: black;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.name {
    text-align: center;
    font-size: 25px;
    color: #575454;
}
#admin-content{
    min-height: 80vh;
    padding: 20px 0 40px;
}
#admin-content .admin-heading{
    color: #0E0E0E;
    font-size: 30px;
    font-weight: 600;
    margin: 0 0 40px;
    position: relative;
}
#admin-content .admin-heading:after{
    content : "";
    background: #e9d88a;
    width: 100%;
    height: 3px;
    opacity: 0.9;
    position: absolute;
    left: 0;
    bottom: -10px;
}
#admin-content .add-new{
    background: #e9d88a;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    border: 2px solid transparent;
    padding: 7px 15px;
    display: block;
    opacity: 0.9;
    transition: all 0.3s;
}
#admin-content .add-new:hover{
    background: #fff;
    color: #A00000;
    border: 2px solid #A00000;
    opacity: 0.9;
}
#admin-content .content-table{
    width: 100%;
    margin: 0 0 20px;
}
#admin-content .content-table thead{
    background: #e9d88a;
    color: black;
    font-weight: bold
}
#admin-content .content-table th{
    text-align: center;
    text-transform: uppercase;
    border: 1px solid #FADC52;
    padding: 10px;
}
#admin-content .content-table tbody tr:nth-child(odd){
    background: white;
}
#admin-content .content-table tbody tr:nth-child(even){
    background: #e0d5a4;
}
#admin-content .content-table tbody td{
    text-align: center;
    border: 1px solid #fff2b5;
    padding: 10px;
}
#admin-content .content-table tbody td:nth-child(2),
#admin-content .content-table tbody td:nth-child(5){
    text-align: center;
}

.pad-el {
    padding-top: 100px;
    padding-bottom: 100px;
}
.main-title {
    position: relative;
    width: fit-content;
    padding: 10px 20px;
    text-transform: uppercase;
    font-size: 30px;
    border: 2px solid black;
    margin: 0 auto 80px;
    z-index: 1;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
.main-title::before,
.main-title::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: #e9d88a;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.main-title::before,
.main-title a:before{
    left: -30px;
}
.main-title::after,
.main-title a::after{
    right: -30px;
}
.main-title a {
    color: black;
}
.main-title:hover::before,
.main-title a:hover::before{
    z-index: -1;
    animation: left-move .5s linear forwards;
    -webkit-animation: left-move .5s linear forwards;
}
.main-title:hover::after,
.main-title a:hover::after{
    z-index: -1;
    animation: right-move .5s linear forwards;
    -webkit-animation: right-move .5s linear forwards;
}
.main-title:hover,
.main-title a:hover{
    transition-delay: .5s;
    color: white;
    border: 2px solid white;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
header {
    position: relative;
    background-color: #FADC52;
    box-shadow: 0 0 0 10px #ddd;
}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
header .logo {
    display: flex;
    height: 72px;
    justify-content: center;
    align-items: center;
    margin-left: -6px;
}
header .logo img {
    width: 90px;
}
header .main-nav {
    display: flex;
}
header .main-nav > li > a,
header .main-nav > li > button{
    position: relative;
    height: 72px;
    color: black;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    padding: 0 30px;
    transition: var(--main-transition);
    overflow: hidden;
}
header .main-nav>li:hover .mega-menu {
    opacity: 1;
    z-index: 1;
    top: calc(100% + 1px);
}
/*
header .main-nav>li>a::before,
header .main-nav>li>button::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: var(--main-color);
    top: 0;
    left: -100%;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
header .main-nav > li > a:hover,
header .main-nav > li > button:hover {
    color: black;
    background-color: var(--main-color);
}
header .main-nav>li>a:hover::before,
header .main-nav>li>button:hover::before  {
    left: 0;
}
*/
@media (max-width: 767px) {
    header .logo {
            width: 100%;
            height: 50px;
    }
    header .main-nav {
        margin: auto;
    }
    header .mega-menu {
        flex-direction: column;
        gap: 0;
        padding: 5px;
    }
    header .main-nav>li>a {
        font-size: 13px;
        padding: 10px;
        height: 40px;
    }
}
.gallery {
    position: relative;
    background-color: var(--section-background);
    margin-top: 60px;
    max-height: fit-content;
}
.gallery .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 40px;
}
.gallery .box {
    padding: 15px;
    background-color: #e9d88a;
    box-shadow: 0px 12px 20px 0px rgb(0 0 0 / 13%), 0px 2px 4px 0px rgb(0 0 0 / 12%);
}
.gallery .box .image {
    position: relative;
    overflow: hidden;
}
.box .settings {
    display: flex;
    justify-content: end;
    margin-top: 10px;
}
.global {
    position: relative;
    background-color: var(--section-background);
    margin-top: 60px;
    max-height: fit-content;
}
.global .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 40px;
}
.global .box {
    padding: 15px;
    background-color: #e9d88a;
    box-shadow: 0px 12px 20px 0px rgb(0 0 0 / 13%), 0px 2px 4px 0px rgb(0 0 0 / 12%);
}
.global .box .text {
    text-align: center;
    font-size: 25px;
    color: #000;
}
.files {
    position: relative;
    background-color: var(--section-background);
    margin-top: 60px;
    max-height: fit-content;
}
.files .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
}
.files .box {
    padding: 15px;
    background-color: var(--second-color);
    box-shadow: 0px 12px 20px 0px rgb(0 0 0 / 13%), 0px 2px 4px 0px rgb(0 0 0 / 12%);
}
.gallery .box .image::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255 255 255 / 20%);
    width: 0;
    height: 0;
    opacity: 0;
    z-index: 2;
}
.gallery .box .image:hover::before {
    animation: flashing .7s;
    -webkit-animation: flashing .7s;
}
.gallery .box .image img {
    max-width: 100%;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
.gallery .box .image:hover img {
    transform: rotate(5deg) scale(1.1);
    -webkit-transform: rotate(5deg) scale(1.1);
    -moz-transform: rotate(5deg) scale(1.1);
    -ms-transform: rotate(5deg) scale(1.1);
    -o-transform: rotate(5deg) scale(1.1);
}
.categories {
    position: relative;
}
.categories .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 40px;
}
.categories .box {
    box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
    background-color: #e9d88a;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    overflow: hidden;
    transition: transform var(--main-transition), box-shadow var(--main-transition);
    -webkit-transition: transform var(--main-transition), box-shadow var(--main-transition);
    -moz-transition: transform var(--main-transition), box-shadow var(--main-transition);
    -ms-transition: transform var(--main-transition), box-shadow var(--main-transition);
    -o-transition: transform var(--main-transition), box-shadow var(--main-transition);
}
.categories .box:hover {
    transform: translateY(-10px);
    box-shadow: 0 2px 15px rgb(0 0 0 / 20%);
}
.categories .box img {
    width: 100%;
    max-width: 100%;
}
.categories .box .content {
    padding: 20px;
}
.categories .box .content h3 {
    margin: 0;
    text-align: center;
}
.departments {
    position: relative;
    background-color: var(--section-background);
}
.departments .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}
.departments .box {
    position: relative;
    counter-increment: services;
    background-color: var(--second-color);
    box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
.departments .box::before {
    content: "";
    left: 50%;
    transform: translateX(-50%);
    height: 3px;
    top: -3px;
    background-color: var(--main-color);
    position: absolute;
    width: 0;
    transition: var(--main-transition);
}
.departments .box:hover {
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
}
.departments .box:hover::before {
    width: 100%;
}
.departments .box > i {
    color: var(--icon-color);
    display: block;
    text-align: center;
    margin: 30px auto 28px;
}
.departments .box  > h3 {
    text-align: center;
    font-size: 25px;
    color: var(--text-color);
    margin-bottom: 50px;
}
.departments .box .info {
    position: relative;
    padding: 15px;
    background-color: white;
    text-align: right;
}
.departments .box .info::before {
    content: "0" counter(services);
    position: absolute;
    background-color: #74641b;
    color: white;
    left: 0;
    top: 0;
    height: 100%;
    width: 80px;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 15px;
}
.departments .box .info::after {
    content: "";
    position: absolute;
    background-color: #d5d5d5;
    top: 0;
    left: 80px;
    width: 50px;
    height: calc(100% + 0.4px);
    transform: skewX(-30deg);
}
.departments .box .info a {
    color: var(--text-color);
}
.stats {
    position: relative;
    background-color: var(--section-background);
    margin-top: 60px;
    max-height: fit-content;
}
.stats h2 {
    font-weight: bold;
    font-size: 40px;
    width: fit-content;
    margin: 0 auto 50px;
    position: relative;
}
.stats::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.stats .container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}
.stats .box {
    position: relative;
    background-color: var(--main-color);
    text-align: center;
    padding: 30px 15px;
    opacity: .8;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
.stats .box::before,
.stats .box::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 0;
    background-color: #74641b;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}
.stats .box::before {
    right: 0;
    top: 0;
}
.stats .box:hover {
    opacity: 1;
}
.stats .box::after {
    left: 0;
    bottom: 0;
}
.stats .box:hover::before,
.stats .box:hover::after {
    height: 100%;
}
.stats .box .number{
    display: block;
    margin-top: 10px;
    font-size: 50px;
    font-weight: bold;
}
.stats .box .text {
    display: block;
    margin-top: 10px;
    color: var(text-color);
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
}
.form{
    position: absolute;
    background-color: #e9d88a;
    transform: translate(-50%,-50%);
    top: 55%;
    left: 50%;
    padding: 20px 35px 40px;
    box-sizing: border-box;
    width: 400px;
    height: auto;
    min-height:100px;
    border-radius: 5px;
}
form *{
    font-family: 'Poppins',sans-serif;
    color: black;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
.public {
    top: 50%;
}
.test {
    padding: 40px 35px 40px;
}
label{
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}
input,select{
    display: block;
    height: 50px;
    width: 100%;
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}
option {
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    font-size: 14px;
    width: 100px;
}
::placeholder{
    color: black;
}
.button{
    margin-top: 30px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}
input[type="file"] {
  outline: none;
  padding: 4px;
  margin: -4px;
}
input[type="file"]:focus-within::file-selector-button,
input[type="file"]:focus::file-selector-button {
  outline: 2px solid #0964b0;
  outline-offset: 2px;
}
input[type="file"]::before {
  top: 16px;
}
input[type="file"]::after {
  top: 14px;
}
input[type="file"] {
  position: relative;
}
input[type="file"]::file-selector-button {
  width: 136px;
  color: transparent;
}
input[type="file"]::before {
  position: absolute;
  pointer-events: none;
  /*   top: 11px; */
  left: 40px;
  color: #0964b0;
  content: "Upload File";
}

input[type="file"]::after {
  position: absolute;
  pointer-events: none;
  /*   top: 10px; */
  left: 16px;
  height: 20px;
  width: 20px;
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%230964B0'%3E%3Cpath d='M18 15v3H6v-3H4v3c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2v-3h-2zM7 9l1.41 1.41L11 7.83V16h2V7.83l2.59 2.58L17 9l-5-5-5 5z'/%3E%3C/svg%3E");
}
input[type="file"]::file-selector-button {
  border-radius: 4px;
  padding: 0 16px;
  height: 40px;
  cursor: pointer;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.16);
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
  margin-right: 16px;
  transition: background-color 200ms;
}

/* file upload button hover state */
input[type="file"]::file-selector-button:hover {
  background-color: #f3f4f6;
}

/* file upload button active state */
input[type="file"]::file-selector-button:active {
  background-color: #e5e7eb;
}
audio {
    margin-bottom: 22px;
}
@keyframes up-to-down {
    0%,
    100% {
        top: 0;
    }
    50% {
        top: -50px;
    }
}
@keyframes bouncing {
    0%,
    10%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }
    40%,
    60% {
        transform: translateY(-15px);
    }
}
@keyframes left-move {
    50% {
        left: 0;
        width: 12px;
        height: 12px;
    }
    100% {
        left: 0;
        width: 50%;
        height: 100%;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
    }
}
@keyframes right-move {
    50% {
        right: 0;
        width: 12px;
        height: 12px;
    }
    100% {
        right: 0;
        width: 50%;
        height: 100%;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
    }
}
@keyframes moving-arrow {
    100% {
        transform: translateX(10px);
    }
}
@keyframes flashing {
    0%,40% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        width: 200%;
        height: 200%;
    }
}
@keyframes change-background {
    0%, 100% {
        background-image: url("../img/discount/discount-background1.jpg");
    }
    50%{
        background-image: url("../img/discount/discount-background2.jpg");
    }
}
